<div class="masthead">
	<h1>Your availability, actualized. Reaching out, simplified.</h1>
	<!-- <p>Manage your availability, not your address book, and tell people how you want to be contacted</p>				 -->
	<p>Manage your availability, and tell people how you want to be contacted</p>				
</div>
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row">
	<div class="channel-hero-unit span12">
		<div id="featureCarousel" class="channel-carousel">
			<!-- Carousel items -->
			<div class="channel-carousel-inner">
				<div class="item active">
					<div class="row">
						<div class="span3 offset1">
							<img class="iphone-screenshot" src="assets/iphone-contactview.png">
						</div>
						<div class="span8">
							<h1 class="main-carousel-slide-heading"><strong><em>Channel helps you...</em></strong></h1>
							<hr>
							<div class="row">
								<div class="span3">
									<img class="displayed" src="assets/availability.png" onclick="$(function() {$('#featureCarousel').carousel(1);});">
									<h1 class="marketing">Set your availability</h1>
									<p class="marketing">In a meeting? Prefer receiving texts? Tell your contacts how to reach you.</p>
								</div>
								<div class="span3 offset1">
									<img class="displayed" src="assets/groups.png" onclick="$(function() {$('#featureCarousel').carousel(2);});">
									<h1 class="marketing">Differentiate your access</h1>
									<p class="marketing">Want your friends to Skype you and your clients to call you? Customize access for each group.</p>
								</div>
								<div class="span1">
									&nbsp;
								</div>
								<div class="span3 add-top-buffer">
									<img class="displayed" src="assets/profile.png" onclick="$(function() {$('#featureCarousel').carousel(3);});">
									<h1 class="marketing">Manage your information</h1>
									<p class="marketing">New phone number? Simply update your profile. Your contacts always have your latest information.</p>
								</div>
								<div class="span3 offset1 add-top-buffer">
									<img class="displayed" src="assets/contactback.png" onclick="$(function() {$('#featureCarousel').carousel(4);});">
									<h1 class="marketing">Avoid useless voicemails</h1>
									<p class="marketing">Tired of "Hey, it's me... call me back." voicemails? Press a button to ask someone to contact you.</p>
								</div>
								<div class="span1">
								&nbsp;
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="row">
						<div class="span3 offset1">
							<img class="iphone-screenshot" src="assets/iphone-availability.png">
						</div>
						<div class="span6 offset1 add-top-buffer">
							<img class="carousel-slide-header_lower" src="assets/availability.png" onclick="$(function() {$('#featureCarousel').carousel(0);});"></img>
							<h1 class="carousel-slide-heading">Set your availability</h1>
							<hr>
							<p class="carousel-slide-content">Some people prefer receiving text messages; others want to be Skyped. We each have our preferences, and they change based on what we're doing.</p>
							<p class="carousel-slide-content">Channel lets you define as many statuses as you want, and lets you set them with one click. Each status translates to an ordered list of "channels" on which you want to be reached.</p>
							<p class="carousel-slide-content">Your contacts will always know how you want to be reached.</p>
						</div>
						<div class="span1">
							&nbsp;
						</div>
					</div>
				</div>
				<div class="item">
					<div class="row">
						<div class="span3 offset1">
							<img class="iphone-screenshot" src="assets/iphone-groups.png">
						</div>
						<div class="span6 offset1 add-top-buffer">
							<img class="carousel-slide-header" src="assets/groups.png" onclick="$(function() {$('#featureCarousel').carousel(0);});"></img>
							<h1 class="carousel-slide-heading">Differentiate your access</h1>
							<hr>
							<p class="carousel-slide-content">Maybe you prefer that your friends text you while you're at work, but you want your work colleagues to call you on your work Blackberry.</p>
							<p class="carousel-slide-content">Channel allows you to group your contacts and customize availability for the different groups. For example, set your status to "At Work", and your friends might be prompted to text you while your "Professional Contacts" will know to call your Blackberry.</p>
							<p class="carousel-slide-content">Channel gives you two groups out of the box. We plan on letting you add more groups in the future.</p>
						</div>
						<div class="span1">
							&nbsp;
						</div>
					</div>
				</div>
				<div class="item">
					<div class="row">
						<div class="span3 offset1">
							<img class="iphone-screenshot" src="assets/iphone-profile.png">
						</div>
						<div class="span6 offset1 add-top-buffer">
							<img class="carousel-slide-header" src="assets/profile.png" onclick="$(function() {$('#featureCarousel').carousel(0);});"></img>
							<h1 class="carousel-slide-heading">Manage your information</h1>
							<hr>
							<p class="carousel-slide-content">We move, we change jobs... Our addresses, telephone numbers, email addresses change in time.</p>
							<p class="carousel-slide-content">Whether you're adding a new phone number or editing an email address, your contacts will always have the latest. No need for mass emails or facebook wall posts and hoping that people update their phones!</p>
							<!-- <p class="carousel-slide-content">Channel replaces a list of (often) out-of-date detailed information with a simple list of up-to-date instructions: "Call", "Text", "Skype", etc.</p> -->
						</div>
						<div class="span1">
							&nbsp;
						</div>
					</div>
				</div>
				<div class="item">
					<div class="row">
						<div class="span3 offset1">
							<img class="iphone-screenshot" src="assets/iphone-contactback.png">
						</div>
						<div class="span6 offset1 add-top-buffer">
							<img class="carousel-slide-header_low" src="assets/contactback.png" onclick="$(function() {$('#featureCarousel').carousel(0);});"></img>
							<h1 class="carousel-slide-heading">Avoid useless voicemails</h1>
							<hr>
							<p class="carousel-slide-content">Let's face it, most voicemails we get are a variation on "Hey, it's me. Call me back when you get a chance."</p>
							<p class="carousel-slide-content">With Channel, you know when someone isn't available to talk. Simply click a button and "leave a message" for them to call you back...</p>
							<p class="carousel-slide-content">When you receive a "Contact Back" request, just click on it and you'll be presented with how that person wants to be contacted.</p>
						</div>
						<div class="span1">
							&nbsp;
						</div>
					</div>
				</div>
			</div>
			<!-- Carousel nav -->
			<a class="channel-carousel-control left" href="#featureCarousel" data-slide="prev">&lsaquo;</a>
			<a class="channel-carousel-control right" href="#featureCarousel" data-slide="next">&rsaquo;</a>
		</div>
		<div class="row">
			<div class="download-box span12">
				<div class="row">
					<div class="span10">
						<p>iPhone & Android versions coming soon! Stay tuned...</p>
						<!-- <p>Our <em>beta</em> is now available for iPhone! We're working on an Android version. Stay tuned...</p> -->
					</div>
					<div class="span2">
						<!-- <a class="btn btn-success btn-large pull-right" href="http://itunes.com/apps/channel"><strong>Download</strong></a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<div class="well">
	<!-- <h1>Our mission is to make it easier to contact people in our lives. </h1>
	<p>Today, we live in a hyperconnected and increasingly mobile world. Not only do we have multiple devices, but we also have different preferences as to how we want to be contacted. And let's face it: it's getting increasingly difficult to keep track of everything.</p>
	<p>We believe Frank Bruni said it best in his <a href="http://www.nytimes.com/2011/09/01/opinion/sorry-wrong-in-box.html?_r=1">New York Times article</a>:</p> -->
	<h2>We hope Channel will help make it easier to get in touch with each other...</h2>
	<br>
	<blockquote>
		<p>You hear so much about how instantly reachable we all are, how hyperconnected, with our smartphones, laptops, tablets and such. But the maddening truth is that we've become so accessible we're often inaccessible, the process of getting to any of us more tortured and tortuous than ever.</p>
		<br>
		<p>There are up to a dozen possible routes, and the direct one versus the scenic one versus the loop-de-loop versus the dead end changes from person to person. If you're not dealing with your closest business associates or friends, whose territory and tics you've presumably learned, you're lost.</p>
		<br>
		<small>Frank Bruni, <a href="http://www.nytimes.com/2011/09/01/opinion/sorry-wrong-in-box.html?_r=1">New York Times</a></small>
	</blockquote> <!-- End Quotation -->
	<!-- <p>With Channel, you’ll be able to tell the different groups in your life how you want to be contacted. It’s about time!</p> -->
</div>
