<ul class="nav nav-list">
	<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
	<li>
	  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
	</li>
	<% end -%>

	<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
	<li>
	  <%= link_to "Resend confirmation", new_confirmation_path(resource_name) %>
	</li>
	<% end -%>
</ul>